.table-row {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 650px;
  }
  
  @media screen and (min-width: 768px) {
    .table-row {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  .transaction-text {
    color: #475569;
    font-family: 'Roboto';
    font-size: 12px;
    width: 30%;

  }
  
  @media screen and (min-width: 768px) {
    .transaction-text {
      font-size: 14px;
    }
  }
  
